customer-consumer-app/src/main/app/customer-consumer-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<context:property-placeholder location="config.properties" ignore-unresolvable="true"/>	

    <http:request-config name="HTTP_Request_Configuration" host="${customer.api.host}" port="${customer.api.port}" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="${customer.api.username}" password="${customer.api.password}" preemptive="true"/>
    </http:request-config>
    <flow name="customer-consumer-app:/cosumer-customer-sync">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${consumer.poll.frequency}" startDelay="10000"/>
            <logger message="Customer Sync Start" level="INFO" doc:name="Log - Start"/>
        </poll>
        <http:request config-ref="HTTP_Request_Configuration" path="/api/customers" method="GET" doc:name="Get - Customers"/>
        <logger message="Customer Details: #[message.payloadAs(String)]" level="INFO" doc:name="Log - Response"/>
    </flow>
</mule>
